.h1width {
    width: 100%;
    background: white;
    opacity: .6;
}
.navbar {
    border-radius: 10px;
    border: 1px solid grey;
}
/*li {*/
    /*display: inline-block;*/
/*}*/
.pizzaimg {
    background-image: url("../img/pizza.png");
}
.text_regulate {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.jumbotron {
    margin: 1.5em 0em;
}
.jumbotron>img {
    width: 100%;
}
.numbered {

}
.card-att {

}
.container {
    margin: 0px;
}
.lgi {
    background-color: #e9ecef;
}
.card_btn {
    float: right;
}
.card_bottom {
    margin-bottom: 1em;
}
h1 {
    text-align: center;
}
